<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Ramon Ramos III</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="twitter-icon"><a href="http://twitter.com/arjeramos" target="_blank"><img src="http://png-5.findicons.com/files/icons/524/web_2/512/twitter.png" alt="Twitter Logo" height="25" width="25"></a></li>
      <li class="linkedin-icon"><a href="https://www.linkedin.com/in/ramonramos3" target="_blank"><img src="http://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="LinkedIn Logo" height="25" width="25"></a></li>
      <li class="google-icon"><a href="https://plus.google.com/u/0/+RamonRamos3"><img src="https://developers.google.com/+/images/branding/g+128.png" alt="Google+ Logo" height="25" width="25"></a></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      
    </ul>
  </section>
</nav>

