<div class="bg-skew-main">

  <div class="content">
    <header class="intro">
      <div id="myphoto">
        <img src="http://i280.photobucket.com/albums/kk166/Rj_Ramos/Facebook/Mobile%20Uploads/10365761_10105025044861699_6314152014198771685_n_zpsbejvcpi5.jpg~original" alt="">
      </div>
      <h2><button>Message Me<%= link_to 'Message Me', blogs_path %></button></h2>
    </header>
      
    <div class="row">
      <div class="medium-4 columns">
        <a href="https://github.com/arjis02" target="_blank"><h3>Projects</h3></a>
      </div>
      <div class="medium-4 columns">
        <a href="/blogs"><h3>Blogs</h3></a>
      </div>
      <div class="medium-4 columns">
        <a href=""><h3 class="aboutme-link">About Me</h3></a>
      </div>    
    </div>
  </div>
      
</div>
    
<div class="bg-skew-contact">
  <div class="content">
    <!-- <form class="contact">
      <h2>Tell us stuff</h2>
      <div class="row">
        <div class="large-12 columns">
          <label>
            <input type="text" placeholder="Name" />
          </label>
          <label>
            <input type="email" placeholder="Email Address" />
          </label>
          <label>
            <textarea placeholder="Got something to say?"></textarea>
          </label>
          <a href="#" class="button success">Send it!</a>
        </div>
      </div>
    </form> -->
    <!-- <footer class="row">
      <div class="small-12 columns">
        <ul class="inline-list social">
          <li><a href="">Twitter</a></li>
          <li><a href="">Facebook</a></li>
          <li><a href="">InstaG</a></li>
        </ul>
        <p>Copywrite - there is none - 2015</p>
      </div>
    </footer> -->
  </div>
</div>