<div hidden class="aboutme">
	<article>
		<p>
			As a graduate of Rutger's School of Engineering, I applied my acquired critical thinking capabilities to the world of business marketing, management, and development. I have had the pleasure of being a part of a company that continues to flourish since being founded in 1999. My 10 years at Sleep On Call have been essential to my own personal development as an established business professional.
		</p>

		<p>
			I decided to continue my education by learning how to code and strengthening that skill by attending Dev Bootcamp in NYC. Now that I have graduated, I plan on applying my knowledge on building full-stack web applications and business development to the real world. I have a passion for tech and strive to learn what is relevant to become a major contributor to cutting edge technologies.
		</p>
	</article>
</div>